#TimePassed, #NameDisplay, p, pre, label, h3 {
    color: white;
}

p, pre {
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 110%;
}

.RightDiv {
    position: fixed;
    margin: 0;
    top: 3%;
    right: 20%;

}

.Grid{
    display: grid;
    grid-template-columns: auto;
    row-gap: 10px;
}

.LeftDiv {
    position: fixed;
    margin: 0;
    top: 3%;
    left: 20%;
}

body {
    background-color: #191919;
}

/* #TopOverlay {
    position: fixed;
} */

#Postarea {
    padding-top: 3%;
}

.center {
    display: block;
    margin-left: 34%;
    margin-right: 34%;
}

.SameLine {
    float: left;
    font-size: medium;
    font-weight: bold;
}

#NameDisplay {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

#SearchInput {
    border-radius: 25px;
    width: 100px;
    height: 75px;
}

#SearchResults {
    border-radius: 25px;
    width: 180px;
}

#NameDisplay:hover {
    background-color: lightseagreen;
    border-radius: 10px;
}